<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="xyzprojectsessionFactory">
        <property name="hibernate.auto-import">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.cache.use_minimal_puts">true</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">diinda</property>
        <property name="hibernate.connection.release_mode">after_statement</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xyzproject</property>
        <property name="hibernate.connection.username">x</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.jdbc.batch_size">25</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.scan_for_mappings">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.transaction.attribute">RequiredNew</property>
        <property name="hibernate.transaction.auto_close_session">true</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.CMTTransactionFactory</property>
        <property name="hibernate.transaction.flush_before_completion">true</property>
        <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
        <mapping resource="com/visitek/xyzproject/model/Tasks.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Companies.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/UserRoles.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Session.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Projects.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/ProjectContacts.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Addresses.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/TaskContacts.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Employees.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/TaskDepartements.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Audittrail.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Departments.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Consultants.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Modules.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Roles.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Contacts.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Permissions.hbm.xml" />
        <mapping resource="com/visitek/xyzproject/model/Users.hbm.xml" />
    </session-factory>
</hibernate-configuration>
