<?xml version="1.0" encoding="UTF-8"?>
<web-app id="xyzproject" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>xyzproject</display-name>

	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>org.icesoft.examples.serverClock</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>Classic</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.synchronousUpdate</param-name>
		<param-value>false</param-value>
	</context-param>


	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xp</url-pattern>
	</servlet-mapping>

	<persistence-unit-ref>
		<persistence-unit-ref-name>xyzproject/pu</persistence-unit-ref-name>
		<!-- -->
			<persistence-unit-name>../xyzproject.jar#xyzprojectPU</persistence-unit-name>
		<!-- 
			The relative reference doesn't work on GlassFish. Instead, set the
			<persistence-unit-name> to "xyzproject/pu", package persistence.xml
			in the WAR, and add a <jar-file> element in persistence.xml with
			value "../../easycat.jar".
		
			<persistence-unit-name>xyzproject/pu</persistence-unit-name>
		-->
	</persistence-unit-ref>



	<session-config>
		<session-timeout>3600</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
